._3zeo1QHQxGpWpIuKD1iknK{background:#fff;border-right:1px solid rgba(211,214,214,.65);padding-top:20px}._2mJfyLm2T6QQtWfvaQFcrz{color:"black";font-family:Roboto;font-size:16px;font-style:normal;font-weight:400;line-height:1.6;width:"100%"}